@font-face {
  font-family: 'majestic-vision-font';
  src: url('./majestic-vision-font/MajesticVisionRegular-7O7Zl.ttf') format('truetype');
  
}
body, html {
  font-family: majestic-vision-font, sans-serif;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);
  background-image: 
    linear-gradient(-90deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)), 
    linear-gradient(0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap));
  background-size: var(--gap) var(--gap);
  background-attachment: fixed;
  overflow-x: hidden;
}
body.white-mode, html.white-mode {
  font-family: majestic-vision-font, sans-serif;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #eeeeee;
  --gap: 5em;
  --line: 1px;
  --color: rgb(0, 0, 0);
  background-image: 
    linear-gradient(-90deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)), 
    linear-gradient(0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap));
  background-size: var(--gap) var(--gap);
  background-attachment: fixed;
  overflow-x: hidden;
}


@media (max-width: 1024px) {
  body, html {
    --gap: 4em;
    letter-spacing: 3px;
  }
}

@media (max-width: 768px) {
  body, html {
    --gap: 3em;
    letter-spacing: 2.5px;
  }
}

@media (max-width: 600px) {
  body, html {
    --gap: 2.5em;
    letter-spacing: 2px;
  }
}

@media (max-width: 400px) {
  body, html {
    --gap: 2em;
    letter-spacing: 1.5px;
  }
}

@media (max-width: 320px) {
  body, html {
    --gap: 1.5em;
    letter-spacing: 1px;
  }
}