.header {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 1em 0;
  gap: 2em;
}
nav a, li {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

nav a::before {
  content: '';
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  filter: invert(1); /* Change noir en blanc */
}